body {
    background-color: #d8e2c3;
    
}

.head{
    background-color: aquamarine;
    min-height:10px;
}
.top_documnent{
    text-align: center;
}
h1{
    text-align: center;
}
.wrapper{
    
}
.box1{
    background-color: #24de9a;
    min-height: 300px;
    float: left;
    width: 50%;
}
.box1 h2{
    text-align: center;
}
.box2{
    background-color: #ffc57c;
    min-height: 300px;
    float:right;
    width: 50%;
}
.box2 h2{
    text-align: center;
}
.footer_part{
    background-color: black;
    min-height: 40px;
    clear: both;
    
}
.footer_part p{
   text-align: center;
    color: white;
}
.color h1{
    background-color:rgb(60, 179, 113);
    
}
.image img{
    width: 500px;
}
.table table {
    border: 2px solid gray;
    width: 100%;
    text-align: center;
}
.table table th{
    border: 2px solid gray;
}
.iframe{
    text-align: center;
}


.box5{
    min-height: 200px;
    width:20%;
    background-color: aqua;
    float: left;
}
.box6{
    min-height:200px;
    width:20%;
    background-color: black;
     float: left;
}
.box7{
    min-height: 200px;
    width:20%;
    background-color:#ff3333;
     float: left;
}
.box8{
    min-height: 200px;
    width:20%;
    background-color: #4eff4e;
     float: left;
}
.box9{
    min-height: 200px;
    width:20%;
    background-color: #1500c3;
     float: left;
}
.container{
    margin-top: 50px;
}
.maps{
    text-align: center;
}

